/* Import Google Material Icons font */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/* Define CSS variables for color palette */
:root {
  --main-color: #ff7d1a;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --regular-color: #fff;
  --shadow-color: #c9c8c8;
}

/* Icon styles */
.icon {
  font-family: "Material Icons", serif;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  direction: ltr;
}

/* Global box-sizing rule */
* {
  box-sizing: border-box;
}

/* Global body styles */
body {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--bg-color);
}

/* Header styles */
header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  background: var(--regular-color);
  box-shadow: 0px 7px 4px var(--shadow-color);
}

header #logo {
  font-size: 195%;
  text-align: center;
  color: var(--main-color);
  line-height: 1;
}

header #logo .icon {
  padding-right: 0.25em;
}

/* Main content styles */
main {
  display: block;
  margin: 0 auto;
  margin-top: 3em;
  max-width: 65em;
  margin-bottom: 2em;
}

/* Responsive styles for larger screens */
@media only screen and (min-width: 1920px) {
  main {
    margin-top: 5em;
    max-width: 65em;
  }
}

/* Flex row styles */
.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

/* Flex column styles */
.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}

/* Calendar container styles */
.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--regular-color);
  border: 1px solid var(--border-color);
  box-shadow: 0px 3px 16px #0a4b6d14;
  border: 1px solid #ff7d1a;
  box-shadow: 0px 0px 16px #ff7d1a;
}

/* Calendar header styles */
.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .header .icon {
  cursor: pointer;
  transition: 0.15s ease-out;
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: 0.25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

/* Days row styles */
.calendar .days {
  text-transform: uppercase;
  font-weight: 550;
  color: var(--text-color-light);
  font-size: 70%;
  padding: 0.75em 0;
  border-bottom: 1px solid var(--border-color);
  cursor: default;
}

/* Calendar cell styles */
.calendar .body .cell {
  position: relative;
  height: 5em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--regular-color);
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

/* Selected cell styles */
.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #ff7d1a 0%, #ee924c 40%);
  border-image-slice: 1;
}

/* Calendar row styles */
.calendar .body .row {
  border-bottom: 1px solid var(--border-color);
}

/* Last row styles */
.calendar .body .row:last-child {
  border-bottom: none;
}

/* Last cell in each row styles */
.calendar .body .cell:last-child {
  border-right: none;
}

/* Number inside each cell */
.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: 0.75em;
  right: 0.75em;
  font-weight: 700;
}

/* Current date number inside each cell */
.calendar .body .cell .current {
  background-color: #ff7d1a;
  padding: 3px;
  border-radius: 6px;
  color: white;
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: 0.75em;
  right: 0.75em;
  font-weight: 700;
}

/* Disabled cell styles */
.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

/* Background number styles */
.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -0.2em;
  right: -0.05em;
  transition: 0.25s ease-out;
  letter-spacing: -0.07em;
}

/* Text inside each cell */
.calendar .body .cell .text {
  position: absolute;
  font-size: 80.5%;
  line-height: 1;
  bottom: 0.5rem;
  left: 0.5rem;
  font-weight: 350;
}

/* Disabled text styles */
.calendar .body .cell .text-disabled {
  position: absolute;
  font-size: 80.5%;
  line-height: 1;
  bottom: 0.5rem;
  left: 0.5rem;
  color: var(--text-color-light);
  pointer-events: none;
}

/* Hover effect on background number */
.calendar .body .cell:hover .bg,
.calendar .body .selected .bg {
  opacity: 0.05;
  transition: 0.5s ease-in;
}

/* Calendar column styles */
.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
}

/* Footer styles */
#footer {
  text-align: end;
  margin-top: 8rem;
  margin-right: 10px;
  font-weight: bold;
}